{% extends "base.html" %}
{% load static %}
{% block extra-style %}
<style>
    {% comment %} post.image가 보여지는 크기를 정해주는 style class 설정 {% endcomment %}
    .my-img-h300{
        width : 100%;
        height : 300px;
        object-fit : cover;
    }

    .my-content{
        white-space : pre-wrap;
        
    }

    .my-link:hover {
        cursor : pointer;
        font-style: italic;
    }

    .my-like:hover{
        cursor : pointer;
        color : red;
        
    }
</style>
{% endblock %}

{% block content %}
        <!-- Page content-->
        <section class="page-section" id="post">
        <div class="container mt-5">
            <div class="row">
                <div class="col-lg-8">
                    <!-- Post content-->
                    <article>
                        <!-- Post header-->
                        <header class="mb-4">
                            <!-- Post title-->
                            <h1 class="fw-bolder mb-1">[[ post.title ]]</h1>
                            <hr>
                            <p>
                            <span>[[post.update_date]] &emsp;</span>
                            <i class="fas fa-copyright"></i> &nbsp;
                            <span class = "my-link" @click="serverPage(post.category, '')">[[post.category]] &emsp;</span>
                            <i class="fas fa-tag"></i> &nbsp;   
                            <span v-for = "(tag, index) in post.tags" :key="index">
                                <span v-if = "index !==0 ">,</span> <!--인덱스가 0이 아닌경우 콤마를 넣어라-->
                                <span class = "my-link" @click = "serverPage('', tag)">[[tag]]</span>                                
                                </span>&emsp;  <!--태그는 여러개라 vue for문을 넣어줘야한다. -->
                            <span class = "my-like" @click="likeCount(post.id)">
                                <i class="fas fa-heart" ></i> &nbsp; 
                            </span>
                            <span > [[post.like]] &emsp;</span>
                            </p>
                            <hr>                           
                        </header>
                        <!-- Preview image figure-->
                        <figure class="mb-4"><img class="img-fluid rounded my-img-h300" :src="post.image" alt="..." /></figure> 
                        <!-- ":"데이터 바인딩할 때 쓴다. src에원래는 http 넣어야하는데, 지금은 vue에서 데이터를 끼워넣는(바인딩)한다. -->
                        <!-- Post content-->
                        <section class="mb-5">
                            <p class="fs-5 mb-4 my-content">[[ post.content ]]</p>
                        </section>
                    </article>
                    <!-- Comments section-->
                    <section class="mb-5">
                        <div class="card bg-light">
                            <div class="card-body">
                                <!-- Comment form-->
                                <form class="mb-4" id="comment-form" > 
                                    <!--vue에서 axios.post로 넘길 때 잘 찾으라고 id 부여.-->
                                    <textarea name = 'content' class="form-control" rows="3" placeholder="Join the discussion and leave a comment!">                                
                                    </textarea>
                                    <div class = "d-flex justify-content-end mt-1">
                                        <div class="btn btn-primary btn-sm" @click = "submitForm">SUBMIT</div>
                                    </div>
                                </form>
                                <!-- Comment List-->
                                <div v-for="comment in commentList" :key="comment.id" class="d-flex mb-4">
                                <!--vue문법에서는 for문 돌릴때 중복되지 않는 값을 줘야한다. 그럼 여기서 comment.id를 중복되지않는, 구분값(key)로 주겠다(바인딩한다)-->
                                    <div class="flex-shrink-0 my-comment-icon">
                                        <i class ="fas fa-user-circle"></i>                                 
                                    </div>
                                    <div class="ms-3">
                                        <div class="fw-bold">[[ comment.update_date ]]</div>
                                        <div class="my-content">[[ comment.content ]]</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
                </div>
                <!-- Side widgets-->
                <div class="col-lg-4">
                    <div class="card mb-4">
                        <div class="card-header">Prev Post</div>
                        <div class="card-body my-link" @click = "fetchPostDetail(prevPost.id)">[[ prevPost.title ]]</div>
                                                    <!--vue에서 정의된 함수 사용 가능.-->
                    </div>
                    <div class="card mb-4">
                        <div class="card-header">Next Post</div>
                        <div class="card-body my-link" @click = "fetchPostDetail(nextPost.id)">[[ nextPost.title ]]</div>
                    </div>
                    <!-- Categories widget-->
                    <div class="card mb-4">
                        <div class="card-header">Categories</div>
                        <div class="card-body">
                            <span v-for="(category, index) in cateList" :key = "category.id">
                                <span v-if = "index !==0"> &emsp; </span>
                                <span class="text-success my-link" @click="serverPage(category, '')">[[category]]</span>    
                                                     <!--해당 스팬 click시 vue함수 실행되고, 두 매개변수중 하나인 카테고리 적용, 태그란은 빈 값 적용-->
                            </span>
                        </div>
                    </div>
                    <!-- Side widget-->
                    <div class="card mb-4">
                        <div class="card-header">tags</div>
                        <div class="card-body">
                            <span v-for = "(tag, index) in tagList" :key = "tag.id">
                                <span v-if = "index !==0"> &emsp; </span>
                                <span class = "text-succeess my-link" @click = "serverPage('', tag)">[[tag]]</span>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
{% endblock %}


{% block extra-script %}
    <!--vue를 여기써도 되지만 유지보수면에서 더 낫도록 templates - include 폴더의 post_detail_vue.html 로 옮김-->
    {% include 'include/post_detail_vue.html' %}
{% endblock %}
