<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
<script>
    //axios.defaults.xsrfCookieName = 'csrftoken';
    //axios.defaults.xsrfHeaderName = 'X-CSRFTOKEN';
    // 장고와 axios 쓸때는 이 이름대로 고정해줘야한다. 
    // 장고는 기본적으로 csrf를 제공하는데 이렇게 
    // 서버가 csrf를 결정하면, client도 해당 csrf를 받아줄 때를 위해 정해준다.  같이 약속된 이름(변수)로 왔다갔다 한다. 

    // 근데 


    const PostDetailApp = {
        delimiters: ['[[',']]'],

        data() {
            return {
                post: {}, 
                prevPost: {},
                nextPost: {},
                cateList: [],   //데이터가 하나가 아니라 리스트 형태로 받음
                tagList: [],        //데이터가 하나가 아니라 리스트 형태로 받음
                commentList : [],

            };
        },

        created(){
            console.log("created()...");
            const postId = location.pathname.split('/')[3];
            this.fetchPostDetail(postId);
            this.fetchCateTagList();
            

        },
        methods: {
            fetchPostDetail(postId) {
                console.log("fetchPostDetail()...", postId)
                
                axios.get(`/api/post/${postId}`) 
                // url > ApiPostDV 실행: post의 전체값과 앞, 뒷게시물의 타이틀을 response에 적합한 dict 형식으로 변환하여 받는 함수 
                .then(res => {
                    console.log("FETCH POSTDETAIL GET RES", res);
                    this.post = res.data.post;
                    this.prevPost = res.data.prevPost;
                    this.nextPost = res.data.nextPost;
                    this.commentList= res.data.commentList;
                })
                .catch(err => {
                    console.log("FETCH POSTLIST GET ERR.RESPONSE", err.response);
                    alert(`${err.response.status}${err.response.statusText}`);
                });
            },
            
            fetchCateTagList() {
                console.log("fetchCateTagList()...")
                axios.get('/api/catetag/')   /// 슬래쉬 중요함
                // url > ApiCateTag 실행: category의 이름과 tag의 이름을 뽑아 리스트 형식으로 묶어고 그걸 dict형식으로 감싼 함수
                .then(res => {
                    console.log("FETCH CATETAG LIST RES", res);
                    this.cateList = res.data.cateList;                  
                    this.tagList = res.data.tagList;
                    ///도대체 이 데이ㅓ는 어디서 들어오는거야????  : 
                    // axios.get으로 해당 url을 api에 요청한다. 
                    // 그러면 url 타고 실행되는 views에서 'jsonresponse' 형식으로 값을 반환한다.
                    // 해당 값은 'res'값으로 받는다. 
                })
                .catch(err => {
                    console.error("Error fetching category and tag list:", err.response);
                    
                });

            },

            // 검색할 category와 tag값을 
            // 카테고리, 테그를 거르는 함수는 동작은 똑같지만 검색해야할 대상만 다르다. 때문에 매개변수 두개를 주고, 해당값이 없는경우 값을 비운다
            // get 방식으로 요청을 줄때는, 쿼리를 준다. 폼이 있을 경우에는 그렇지 않고.   
                    //쿼리는 url정의 안함.조회할 때 get요청을 주는데, 필요한 값을 요청하는데 그 조건에 대해 알려줄 때 쿼리를 짜서 보내주는 것.
            // 필요한 값만 쿼리에 적어서 장고에 요청.카테고리를 눌렀을때와 태그 눌렀을때 두가지 상황에서 쿼리를 만들게 된다
            // 매개변수가 잘못들어갈 경우를 대비하여 에러처리를 해줘야함. (범위 외의 값이거나 두개 동시에 들어왔을때 등)
            serverPage(category='', tag = '') {
                console.log("serverPage()...", category, tag);

                if(category && tag) alert(`serverPage() both args Error ${category} and ${tag}`);
                // && 앤드 연산자. 두개 동시에 있을 때.
                else if (category) location.href = `/?category=${category}#portfolio`;  // 쿼리문 시작할때 항상 물음표(?)가 있어야 한다. category= 아까 지정한 변수로 지정하겠다. + html의 id 중 하나인 #로 화면 옮겨주겠다. 
                else if (tag) location.href = `/?tag=${tag}#portfolio`;
                else location.href = '/#portfolio'
            },

            likeCount(postId){
                console.log("likeCount()...", postId);
                //like는 이미 post 안에 있다.
                //처음에 like는 0으로 받아들여옴. 
                //하트가 눌린 경우 like를 1 올려줘야한다.
                // 그 후에 그 1로 변경한 like의 값을 모델에서 다시 받아주어야 해서 api 요청하고, res 받아서 post.like 표시해줌

                axios.get(`/api/like/${postId}`)  
                // postId를 적용한 url의 api를 요청한다.
                // 여기서 urls.py에 정의해준 url과 같아야 하겠지? 
                // !!주의!! 슬러쉬(/)가 앞에 있으면 루트페이지 뒤에 url을 붙이고, 슬러쉬를 빼버리면 현재페이지 뒤에 url을 붙이게 된다.
                .then(res =>{
                    console.log("LIKE-COUNT GET RES", res)
                    this.post.like = res.data; 
                    // 여기서 res.data는 해당 url을 타고 실행되는 view 안의 함수(ApiPostLikeDV)에서 보내주는 post모델의 like값
                    // (예상. 팩트체크 필요) this.post.like는 vue가 화면에 표시해주는 값인듯. 
                })
                .catch(err => {
                    console.error("Error Like-Count:", err.response);                    
                });
                // !!주의!! axios부터 여기까지는 사실상 코드 1줄이다. 이 블록에서 끝맺음인 ';'는 한번만 나와야함. 
            },


            submitForm(){
                console.log("submitform()...");
                // 함수가 제대로 호출 됐는지 확인해줌. 하지만 개발 다 끝나면 보안 문제로 다 삭제해주기. 내가 사용한 변수가 노출되기 때문에 클라이언트가 이를 이용하여 데이터를 배낼 수 있다.
                
                let formdata = new FormData(document.getElementById('comment-form')); 
                // FormDatata 는 JS가 제공하는 함수. html 해당 블락에 있는 id를 찾아 적용
                // 여기까지는, 그냥 단순히 댓글 데이터만 옮겨준다.                 
            
                formdata.set('post', this.post.id);
                // 해당 폼데이터를 어디에 추가해야하는지 post.id를 같이 줘야 한다...

   
                const csrfToken = document.querySelector('meta[name="csrf-token"]').getAttribute('content')

                axios.post('/api/comment/create/', formdata, {
                    headers: {
                        'X-CSRFToken':csrfToken
                    }
                } ) 
                //post는 url 이외에도 form data를 같이 넣어서 추가정보를 전달. get은 쿼리형태로 전달.
                    .then(res =>{
                        console.log("CREATE-COMMENT POST RES", res);
                        this.commentList.push(res.data); 
                        // post는 지금 서버에 '입력'을 해줘야 하기 대문에 push를 해야한다.
                    })
                    .catch(err => {
                        console.log("CREATE-COMMENT GET ERR.RESPONSE", err.response);
                        alert(`${err.response.status}${err.response.statusText}`);
                    });
                
                // 폼을 서버에 보내주면, 그 데이터가 그대로 있기 때문에 리셋을 해줘야 한다. 

            },
        },
    };

Vue.createApp(PostDetailApp).mount('#page-top')  
//Vue.createApp()로 Vue 애플리케이션을 생성하고, mount() 메서드를 통해 특정 DOM 요소에 마운트.
//createApp(): Vue 애플리케이션을 생성하는 함수. 여기서는 PostDetailApp 객체가 애플리케이션의 구성 요소로 사용됨.
//mount : Vue 인스턴스가 특정 DOM(html) 요소에 연결하는 과정으로, Vue 애플리케이션이 해당 요소를 제어하고, 그 안에서 데이터와 템플릿을 동적으로 렌더링할 수 있게 됩니다.
// mount('#page-top'): 생성된 Vue 애플리케이션을 HTML 요소(id="page-top")에 연결. 이때, PostDetailApp의 템플릿과 데이터를 해당 요소 안에 렌더링.
// page-top은 base.html 내에 있는 body의 바로 자식테그인 div에 먹임
</script>

