


<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script src="https://unpkg.com/axios@1.6.7/dist/axios.min.js"></script>
<script>
    const PostListApp = {
        delimiters:['[[',']]'], // Vue랑 Django 템플릿 충돌 방지
        data(){
            return {
                postList: [], //Post 목록 데이터를 저장할 변수 
                category : '',
                tag : '',  //변수정의
            };
        },
        created(){
            console.log("created()...");
            const params = new URL(location).searchParams; //이렇게 url 객체를 만든다. location : 현재 url. searchParams : URL의 쿼리 파라미터를 조작하거나 읽을 수 있는 URLSearchParams 객체를 반환
            this.category= params.get('category'); // 위에서 만들어놓은 url 객체의 쿼리에서 이름이 category 값(=뒤에있는)을 찾아서 떼오겠다. 
            this.tag = params.get('tag'); 
            this.fetchPostList(); //컴포넌트가 생성될 때 게시물 목록을 불러옵니다.
            
        },
        methods: {
            fetchPostList() {
                console.log('fetchPostList()..', this.category, this.tag); //this.category, tag 는 created에서 만들어짐.

                //index를 갈 수 있는 방법이 3가지. 
                let getUrl = ''; //아무것도 안들어온게 디폴트
                if (this.category) getUrl=`/api/post/list/?category=${this.category}`; 
                else if (this.tag) getUrl=`/api/post/list/?tag=${this.tag}`;
                else getUrl = '/api/post/list';

                axios.get(getUrl)
                .then(res => {
                    console.log("FETCH POSTLIST GET RES", res);
                    this.postList = res.data;
                })
                .catch(err => {
                    console.log("FETCH POSTLIST GET ERR.RESPONSE", err.response);
                    alert(`${err.response.status} ${err.response.statusText}`);
                });
            },
        },
    };

    Vue.createApp(PostListApp).mount('#page-top')
</script>